.dialogsWrapper {
    display: flex;
    justify-content: space-between;
}

.dialogs {
    background-color: darkseagreen;
}

.dialogsList {
    width: 30%;
    background-color: aliceblue;
}

.dialogsBlock {
    width: 55%;
    background-color: #FFB3DA;
}